*{
    margin: 0;
    padding: 0;
}
.container-fluid{
    height: 100vh;
}
body {
    background-color: rgb(2, 15, 27);
    border: 10px double yellowgreen;
}

.heading {
    color: yellowgreen;
}

.inpTask {
    border: 2px solid yellow;
}

.add {
    color: white;
}

#iconPlus {
    display: flex;
    align-items: center;
    justify-content: center;
}

#taskSec {
    height: 150px;
}

.btn {
    color: rgb(54, 3, 12);
    background-color: pink;
}

.btn:hover {
    font-weight: bold;
    color: rgb(54, 3, 12);
}
.fa-clipboard-list{
    color: rgb(250, 250, 156);
    font-size: 200px;
    display: flex;
    justify-content: center;
}